<h2>welcome to your dashboard</h2>

<section>
    <h3 class="section-title">create new post</h3>

    <form class="new-post-form">
        <div>
            <label for="post-title">title:</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-contents">contents:</label>
            <textarea id="post-contents" name="post-contents"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">submit</button>
        </div>
    </form>
</section>

{{#if posts.length}}
<section>
    <h3 class="section-title">your {{format_plural posts.length "post"}}</h3>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/create-post.js"></script>
