:root {
    --dark: rgb(31, 30, 30);
    --medium: rgb(50, 50, 50);
    --light: rgb(245, 240, 240);
    --primary: rgb(245, 139, 39);
    --secondary: rgb(74, 224, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    font-size: 20px;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
}

a {
    text-decoration: none;
    color: var(--secondary);
    opacity: 0.9;
}

textarea,
input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--light);
    background-color: var(--medium);
    color: var(--light);
    width: 80%;
    margin: 10%;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid var(--secondary);
    background-color: var(--medium);
    color: var(--light);
}

input:enabled {
    outline: none;
    border: 1px solid var(--secondary);
    background-color: var(--medium);
    color: var(--light);
}

textarea:enabled {
    background-color: var(--medium);
    color: var(--light);
}

button {
    border: 0;
    padding: 3px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--dark);
    opacity: 0.9;
}

a:hover,
button:hover {
    opacity: 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--secondary);
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* HEADER STYLES START */
header {
    border-bottom: 1px solid var(--light);
    padding: 1rem 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999;
}

header h1 a,
header nav a,
header nav button {
    color: var(--primary)
}

header h1 a {
    font-size: 1.75rem;
}

header h1 a,
header nav a,
header nav button {
    margin: 0 1rem;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    /* color: var(--primary); */
    font-size: 1rem;
}
/* HEADER STYLES soft END */

header,
header nav,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER STYLES soft START */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

footer,
footer a {
    font-size: 1rem;
}

footer a {
    padding-top: 0.3rem;
    padding-left: 0.7rem;
    color: var(--light);
}
/* FOOTER STYLES END */

/* MAIN STYLES START */
main {
    flex: 1;
    padding: 2% 4%;
}
/* MAIN STYLES END */

/* MEDIA QUERIES */
@media screen and (max-width: 530px) {

    header {
        padding-bottom: 0.5rem;
        justify-content: center;
        position: relative;
    }

    header h1 a {
        width: 100%;
        text-align: center;
    }

    header nav {
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
    }

    footer a {
        margin-left: 0;
    }
}

@media screen and (max-width: 370px) {

    header {
        padding-top: 0.3rem;
    }

    header h1 a {
        font-size: 1.5rem;
    }

    header nav a,
    .btn-no-style {
        font-size: 0.9rem;
    }

    footer a {
        margin-left: 0;
    }
}